html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

.brand {
  color: #ff8f1a;
}

a {
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}

header {
  padding: 20px 0;
  background-color: #fff;
  border-top: 4px solid #ff8f1a;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header h1 a {
  color: #222;
  text-decoration: none;
}

header h1 a:hover,
header h1 a:active {
  color: #ff8f1a;
}

header ul.social {
  margin: 0;
  display: block;
  float: right;
  margin-top: -27px;
}

@media (max-width: 768px) {
  header ul.social {
    display: none;
  }
  nav.navbar ul li {
    margin-right: 8px;
    font-size: 1.2rem;
  }
}

header ul.social li {
  list-style: none;
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  text-transform: lowercase;
}

nav.navbar {
  border-top: 1px solid #f1f1f1;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}

nav.navbar ul {
  margin: 0;
}

nav.navbar ul li {
  margin: 0;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
}

nav.navbar ul li ul.dropdown {
  top: 28px;
  padding: 10px 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #eee;
  z-index: 1000;
  margin: 0;
  display: none;
}

nav.navbar ul li ul.dropdown li {
  display: block;
  margin-right: 0;
}

nav.navbar ul li ul.dropdown li a {
  display: block;
  padding: 5px 20px;
  -webkit-transition: all 0.1s ease 0s;
     -moz-transition: all 0.1s ease 0s;
       -o-transition: all 0.1s ease 0s;
          transition: all 0.1s ease 0s;
}

nav.navbar ul li ul.dropdown li a:hover,
nav.navbar ul li ul.dropdown li a:active {
  background-color: #f6f6f6;
}

.caret {
  margin-top: -3px;
}

main {
  margin-top: 30px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

footer {
  box-sizing: border-box;
  height: 50px;
  background-color: #fff;
  position: relative;
  padding-top: 12px;
  box-shadow: 0 -4px 3px 0 rgba(0, 0, 0, 0.05);
}

footer ul {
  margin: 0;
}

footer ul li {
  margin: 0;
  list-style: none;
  display: inline;
  margin-right: 5px;
}

.card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

hr.sm {
  background-color: #ff8f1a;
  border: 0 none;
  display: inline-block;
  height: 2px;
  margin: 0 0 2rem;
  width: 4rem;
}

.avatar {
  width: 60%;
  border-radius: 500px;
  display: block;
  margin: 0 auto;
}

.sidebar .author p {
  text-align: center;
  margin-bottom: 15px;
}

.sidebar .author .avatar {
  margin-bottom: 20px;
}

.sidebar .reading img {
  width: 100%;
  display: block;
  margin: 0 auto 2rem;
}

.context-menu {
  margin-bottom: 20px;
}

.context-menu a,
.context-menu span {
  margin-right: 10px;
}

.context-menu span {
  color: #ff8f1a;
}

.context-menu a.active {
  color: #222;
  text-decoration: none;
}

small,
.text-muted {
  color: #777;
}

strong {
  font-weight: 600;
}

main a[target="_blank"]:after {
  content: url(../img/icon-external-link.png);
  margin: 0 0 0 2px;
}

main a[href^="#"]:after {
  content: url(../img/icon-anchor.png);
  margin: 0 0 0 2px;
}

main article + #disqus_thread {
  margin-top: 20px;
}

.book-cover {
  width: 40%;
  float: left;
  margin-right: 20px;
}

.meta {
  margin-bottom: 20px;
  background-color: #fff9f3;
  padding: 10px;
  border-left: 3px solid #ff8f1a;
  border-bottom-left-radius: 5px;
}

.meta .three.columns {
  font-weight: 600;
  text-align: right;
}

.tag {
  background-color: #ffeedd;
  color: #ff8f1a;
  margin-right: 7px;
  font-size: 90%;
  font-weight: 400;
  padding: 3px 6px;
  white-space: nowrap;
}

.lead {
  font-size: 2.1rem;
  font-weight: 300;
}

.gist {
  margin-bottom: 2.5rem;
}

#share {
  text-align: right;
}

.til-list li {
  list-style: none;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.til-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0 none;
}

.til-list li p {
  margin-bottom: 0.5rem;
}

.skill-set {
  margin-bottom: 2.5rem;
}

.skill-set h5 {
  margin-bottom: 1rem;
}

blockquote {
  font-style: italic;
  font-size: 2.1rem;
  color: #777;
  font-weight: 300;
}

.essay h4 a {
  color: #222;
  text-decoration: none;
}

.essay h4 a:hover,
.essay h4 a:active {
  text-decoration: underline;
  color: #1eaedb;
}