@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

html, 
body {
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f6f6f6;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

a {
  color: #4288F3;
  text-decoration: none;
}

p {
  font-size: 1.8em;
  margin: 0 0 20px;
}

strong {
  line-height: 1em;
}

main ul {
  font-size: 1.8em;
}

main .post a {
  border-bottom: 1px solid;
}

.highlight {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1.8em;
  background-color: #f0f0f0;
}

header ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small,
h2 small,
h3 small, {
  font-size: 65%;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h5 small,
h6 small, {
  font-size: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-muted {
  color: #777;
}

.page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #fff;
}

header h1 {
  margin: 0;
  line-height: 1em;
  font-size: 2.6em;
}

header h1 a {
  text-decoration: none;
  color: #333;
}

header ul {
  float: right;
  line-height: 2.6em;
}

header ul li {
  display: inline;
  margin-left: 1.5em;
}

header ul li a {
  text-decoration: none;
  font-size: 1.4em;
  color: #333;
}

header ul li a:hover {
  color: #4288F3;
}

main {
  font-family: 'Crimson Text', serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

main article {
  border-bottom: 1px solid #eee;
}

main article:last-child {
  border-bottom: none;
}

main article a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px 0;
}

main article a:hover {
  background-color: #f0f0f0;
}

main article a h2 {
  margin: 0;
}

main article a span.date {
  color: #777;
  font-size: 1.8em;
  float: right;
  line-height: 30px;
}

footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer ul li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

footer ul li a {
  text-decoration: none;
  font-size: 3em;
  color: #aaa;
}

footer ul li a[href*='github']:hover {
  color: #333;
}

footer ul li a[href*='twitter']:hover {
  color: #4fade9;
}

footer ul li a[href*='linkedin']:hover {
  color: #0487b8;
}

footer ul li a[href*='facebook']:hover {
  color: #3b5a94;
}

.post img {
  max-width: 800px;
}