---
title: Today I Learned · Vitor Freitas
permalink: /til/
---

<h3>Today I Learned…</h3>
<hr class="sm">

<p>
  I have the personal goal of learning something new everyday. For the most part it is related to programming and my
  work, but it can be really anything.
</p>

{% for til in site.categories.til %}

  {% capture current %}{{ til.date | date: "%B, %Y" }}{% endcapture %}
  {% capture next %}{{ til.previous.date | date: "%B, %Y" }}{% endcapture %}

  {% if forloop.first %}
    <h4>{{ current }}</h4>
    <ul class="til-list">
  {% endif %}

  <li>
    <span class="text-muted" style="margin-right: 10px">{{ til.date | date_to_string }}</span>
    <a href="{{ til.url }}" style="margin-right: 10px">{{ til.title }}</a>
    <small>{% for tag in til.tags %}<span class="tag">{{ tag }}</span>{% endfor %}</small>
  </li>

  {% if forloop.last %}
    </ul>
  {% else %}
    {% if current != next %}
      </ul>
      <h4>{{ next }}</h4>
      <ul class="til-list">
    {% endif %}
  {% endif %}

{% endfor %}