---
layout: research
title: Publications · Research · Vitor Freitas
subtitle: Publications
menu: publications
---

{% assign pubs = (site.data.publications | sort: 'date') | reverse %}

{% for pub in pubs  %}

  {% capture this_year %}{{ pub.year }}{% endcapture %}
  {% capture next_year %}{{ pubs[forloop.index].year }}{% endcapture %}

  {% if forloop.first %}
    <h4>{{ pub.year }}</h4>
    <ul>
  {% endif %}

  {% include publication.html publication=pub %}

  {% if forloop.last %}
    </ul>
  {% else %}
    {% if this_year != next_year %}
      </ul>
      <h4>{{ next_year }}</h4>
      <ul>
    {% endif %}
  {% endif %}

{% endfor %}
