<hr>

<h6>
  <strong>{{ include.book.title }}</strong><br>
  <small>by {{ include.book.book_author }}</small>
</h6>

{% if include.book.aa_ref %}
  <a href="{{ include.book.aa_ref }}">
    <img src="{{ include.book.cover }}" alt="{{ include.book.title }}" title="Get your copy of {{ include.book.title }}">
  </a>
  <img src="{{ include.book.aa_src }}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
{% else %}
  <img src="{{ include.book.cover }}" alt="{{ include.book.title }}" title="{{ include.book.title }}">
{% endif %}

{% comment %}<a href="">Learn more →</a>{% endcomment %}