<footer>
  <div class="container">
    <ul>
      <li>© 2012-2016 Vitor Freitas</li>
      <li class="brand">/</li>
      <li><a href="http://vitorfs.com">vitorfs.com</a></li>
      <li class="brand">/</li>
      <li><a href="">cookies</a></li>
      <li class="brand">/</li>
      <li><a href="https://pgp.mit.edu/pks/lookup?search=0x11d07cf62d8be9de&op=index" target="_blank">pgp key</a></li>
      <li class="brand">/</li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a></li>
    </ul>
  </div>
</footer>
