<header>
  <div class="container">
    <h1>Vitor <span class="brand">Freitas</span></h1>
    <ul class="social">
      <li><a href="https://github.com/vitorfs" target="_blank">github</a></li>
      <li><a href="https://twitter.com/vitorfs" target="_blank">twitter</a></li>
      <li><a href="https://www.linkedin.com/in/vitorfs" target="_blank">linkedin</a></li>
      <li><a href="https://medium.com/@vitorfs" target="_blank">medium</a></li>
      <li><a href="http://stackoverflow.com/users/1011272/vitor-freitas" target="_blank">stackoverflow</a></li>
      <li><a href="/contact/#social">+ more</a></li>
    </ul>
  </div>
</header>
