<nav class="navbar">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/research/">Research</a></li>
      <li><a href="/cv/">CV</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li class="brand">/</li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/experiments/">Experiments</a></li>
      <li class="brand">/</li>
      <li><a href="/essays/">Essays</a></li>
      <li><a href="/til/" title="Today I Learned">TIL</a></li>
      <li class="brand">/</li>
      <li><a href="/subscribe/"><strong>Subscribe</strong></a></li>
    </ul>
  </div>
</nav>
