<nav class="navbar">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/research/">Research</a></li>
      <li><a href="/cv/">CV</a></li>
      <li>
        <a href="#" id="openSourceDropdownButton">Open Source ▾</a>
        <ul class="dropdown" id="openSourceDropdownMenu">
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/experiments/">Experiments</a></li>
        </ul>
      </li>
      <li>
        <a href="#" id="articlesDropdownButton">Articles ▾</a>
        <ul class="dropdown" id="articlesDropdownMenu">
          <li><a href="/essays/">Essays ({{ site.categories.essays | size }})</a></li>
          <li><a href="/research/phd/">Ph.D. Learning Diary ({{ site.categories.phd | size }})</a></li>
          <li><a href="/til/">Today I Learned… ({{ site.categories.til | size }})</a></li>
        </ul>
      </li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/subscribe/"><strong>Subscribe</strong></a></li>
    </ul>
  </div>
</nav>
