<div class="sidebar">
  <div class="card author">
    <h4>Vitor Freitas</h4>
    <hr class="sm">
    <img src="/img/avatar.jpg" class="avatar">
    <p>Full-stack Web Developer<br>Ph.D. Student at <a href="http://www.oulu.fi/university/" target="_blank">University of Oulu</a></p>
    <p>Oulu, Finland</p>
    <p>I write about Python and Django at <a href="http://simpleisbetterthancomplex.com" target="_blank">simpleisbetterthancomplex.com</a></p>
    <p>Contact me via <a href="mailto:vitor@freitas.com">vitor@freitas.com</a></p>
  </div>

  <div class="card reading">
    <h4>Reading</h4>
    <hr class="sm">
    <p>
      This is a list of books that I'm reading at the moment.{% comment %}<br>
      <a href="/books/archive/">See my past readings →</a>{% endcomment %}
    </p>
    {% for book in site.books %}
      {% if book.reading == true %}
        {% include book_widget.html book=book %}
      {% endif %}
    {% endfor %}
  </div>
</div>