<div class="sidebar">
  <div class="card author">
    <h4>Vitor Freitas</h4>
    <hr class="sm">
    <img src="/img/avatar.jpg" class="avatar">
    <p>Full-stack Web Developer<br>Ph.D. Student at <a href="http://www.oulu.fi/university/" target="_blank">University of Oulu</a></p>
    <p>Oulu, Finland</p>
    <p>I write about Python and Django at <a href="http://simpleisbetterthancomplex.com" target="_blank">simpleisbetterthancomplex.com</a></p>
    <p>Contact me via <a href="mailto:vitor@freitas.com">vitor@freitas.com</a></p>
  </div>

  <div class="card reading">
    <h4>Reading</h4>
    <hr class="sm">
    <p>
      This is a list of books that I'm reading at the moment.{% comment %}<br>
      <a href="/books/archive/">See my past readings →</a>{% endcomment %}
    </p>
    <h6>
      <strong>High Performance Django</strong><br>
      <small>by Peter Baumgartner and Yann Malet</small>
    </h6>
    <img src="/img/books/high-performance-django.jpg" alt="High Performance Django" title="High Performance Django">
    {% comment %}<a href="">Learn more →</a>{% endcomment %}
    <hr>
    <h6>
      <strong>Value-Focused Thinking</strong><br>
      <small>by Ralph L. Keeney</small>
    </h6>
    <img src="/img/books/value-focused-thinking.jpg" alt="Value-Focused Thinking" title="Value-Focused Thinking">
    <hr>
    <h6>
      <strong>The Drunkard's Walk: How Randomness Rules Our Lives</strong><br>
      <small>By Leonard Mlodinow</small>
    </h6>
    <img src="/img/books/the-drunkards-walk.jpg" alt="The Drunkard's Walk: How Randomness Rules Our Lives" title="The Drunkard's Walk: How Randomness Rules Our Lives">
  </div>
</div>