<article>
  <p>
    <small>
      <strong>By {{ include.til.author }}</strong>
      <span style="margin-left: 10px;">{{ include.til.date | date: "%B %d, %Y" }}</span>
    </small>
  </p>
  <p class="lead">{{ include.til.title }}</p>
  {{ include.til.content }}
  {% if include.til.references %}
    <h4>References</h4>
    <ol>
      {% for ref in include.til.references %}
        <li><a href="{{ ref }}" target="_blank">{{ ref }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}
</article>

<div class="row">
  <div class="one-half column">
    <p>{% for tag in include.til.tags %}<span class="tag">{{ tag }}</span>{% endfor %}</p>
  </div>
  <div id="share" class="one-half column">
    <div class="fb-like" data-href="{{ site.url }}{{ include.til.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ include.til.url }}" data-text="{{ include.til.title }}" data-via="{{ site.twitter_username }}">Tweet</a>
  </div>
</div>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Facebook -->
<div id="fb-root"></div>
<style type="text/css">.fb_iframe_widget{vertical-align:top;margin-top:-4px;}</style>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
