<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="Python, Django, JavaScript, jQuery, Java, C#, .NET, Desenvolvimento, Web">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <header>
    <div class="wrapper">
      <ul>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/projects/">projects</a></li>
        <li><a href="/cv/">cv</a></li>
      </ul>
      <h1><a href="/">vitorfs.com</a></h1>
    </div>
  </header>
  <main>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="http://github.com/vitorfs" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/vitorfs" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/vitorfs" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://facebook.com/vitorfs" target="_blank"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/ga.js"></script>
</body>
</html>
