---
layout: page
---

<p>
  <a href="/research/projects/">← Return to projects list</a>
</p>

<h3>{{ page.title }}</h3>
<hr class="sm">

<p>
  <img src="{{ page.featured_image }}" alt="{{ page.title }}" title="Read more about {{ page.title }}" style="width: 100%">
</p>

<div class="meta">
  {% if page.team %}
    <div class="row">
      <div class="three columns">Team</div>
      <div class="nine columns">{{ page.team }}</div>
    </div>
  {% endif %}
  {% if page.website %}
    <div class="row">
      <div class="three columns">Website</div>
      <div class="nine columns"><a href="{{ page.website }}" target="_blank">{{ page.website }}</a></div>
    </div>
  {% endif %}
  {% if page.date %}
    <div class="row">
      <div class="three columns">Started at</div>
      <div class="nine columns">{{ page.date | date: "%b %-d, %Y" }}</div>
    </div>
  {% endif %}
</div>

<hr>

<h5>About</h5>

{{ content }}

<hr>

<h5>Related Publications</h5>

{% assign pubs = (site.data.publications | sort: 'date') | reverse %}
<ul>
  {% for pub in pubs %}
    {% for tag in pub.tags %}
      {% if tag == "value" %}
        {% include publication.html publication=pub %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<hr>

<p>
  <a href="/research/projects/">← Return to projects list</a>
</p>